    page[size="A4"] {
        width: 24.3cm;
        height: 14cm;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        position: relative;
    }

    @media print {

         body {margin-top: 0mm; margin-bottom: 50mm; 
               margin-left: 0mm; margin-right: 0mm}

        .main-content {
            min-height: 0;
        }
    }

    h1 {
        margin-top: 0;
    }

    hr {
         border: 0;
        border-bottom: 1px double #000000;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .date {
        margin-bottom: 0;
    }

    table.product-table {
        font-size:14px;
        width: 100%;
    }

    table.product-table, .product-table th, .product-table tfoot .product-table td {
        border: 1px double #000000;
        border-collapse:collapse;
        font-weight: normal;
        text-align: left;
        padding:2px 5px;
		font-size:15px;
    }

    .product-table td {
        border-right: 1px double #000000;
    }

    .product-table td {
        padding:2px 5px;
        line-height: 13px;
		font-size:15px;
    }   

    table.signature {
        border:none;
        margin-top: 15px;
        text-align: center;
        right: 0;
        bottom: 20px;
    }

    table.signature td {
        border: none;
    }

    table.signature p {
        margin-top: 40px;
    }